<template>
	<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Bootstrap Full Course</h1>
          <div class="posted-on">
              <p>by <span>Hari Shankar Singh</span> on <span>March 22, 2019</span></p>
          </div>
          <div class="detail-img">
             <v-img src="./images/bootstrap.png" alt="blog1"> </v-img>
          </div>
          <div class="blog-desc">
            <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation and other interface components.</p>
                            <p>On January 31, 2012, Bootstrap 2 was released, which added built-in support for Glyphicons, several new components, as well as changes to many of the existing components. This version supports responsive web design. This means the layout of web pages adjusts dynamically, taking into account the characteristics of the device used (desktop, tablet, mobile phone).

<p>Bootstrap is a web framework that focuses on simplifying the development of informative web pages (as opposed to web apps). The primary purpose of adding it to a web project is to apply Bootstrap's choices of color, size, font and layout to that project. As such, the primary factor is whether the developers in charge find those choices to their liking. Once added to a project, Bootstrap provides basic style definitions for all HTML elements. The result is a uniform appearance for prose, tables and form elements across web browsers. In addition, developers can take advantage of CSS classes defined in Bootstrap to further customize the appearance of their contents. For example, Bootstrap has provisioned for light- and dark-colored tables, page headings, more prominent pull quotes, and text with a highlight.</p>
<p>Bootstrap also comes with several JavaScript components in the form of jQuery plugins. They provide additional user interface elements such as dialog boxes, tooltips, and carousels. Each Bootstrap component consists of an HTML structure, CSS declarations, and in some cases accompanying JavaScript code. They also extend the functionality of some existing interface elements, including for example an auto-complete function for input fields.
The most prominent components of Bootstrap are its layout components, as they affect an entire web page. The basic layout component is called "Container", as every other element in the page is placed in it. Developers can choose between a fixed-width container and a fluid-width container. While the latter always fills the width of the web page, the former uses one of the four predefined fixed widths, depending on the size of the screen showing the page.</p>
<router-link to="/login"><v-btn rounded color="success" dark>Next</v-btn></router-link> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <Recent></Recent>
      </div>
    </div>
  </div>
</section>
</template>
<script>
	import Recent from './RecentComponent.vue';
	export default{
		components:{
		'Recent':Recent
	    }	
	}
	
</script>
<style scoped>
   
a 
{  text-decoration: none;}

</style>