<template>
	<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>CPP Full Course</h1>
          <div class="posted-on">
              <p>by <span>Hari Shankar Singh</span> on <span>March 22, 2019</span></p>
          </div>
          <div class="detail-img">
             <v-img src="./images/c.png" alt="blog1"> </v-img>
          </div>
          <div class="blog-desc">
            <p>C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, while a static type system prevents unintended operations. By design, C provides constructs that map efficiently to typical machine instructions and has found lasting use in applications previously coded in assembly language. Such applications include operating systems and various application software for computers, from supercomputers to embedded systems</p>
                            <p>C was originally developed at Bell Labs by Dennis Ritchie between 1972 and 1973 to make utilities running on Unix. Later, it was applied to re-implementing the kernel of the Unix operating system. During the 1980s, C gradually gained popularity. It has become one of the most widely used programming languages, with C compilers from various vendors available for the majority of existing computer architectures and operating systems. C has been standardized by the ANSI since 1989 (see ANSI C) and by the International Organization for Standardization. </p>
<p>C is an imperative procedural language. It was designed to be compiled using a relatively straightforward compiler to provide low-level access to memory and language constructs that map efficiently to machine instructions, all with minimal runtime support. Despite its low-level capabilities, the language was designed to encourage cross-platform programming. A standards-compliant C program written with portability in mind can be compiled for a wide variety of computer platforms and operating systems with few changes to its source code. The language is available on various platforms, from embedded microcontrollers to supercomputers.</p>

<router-link to="/login"><v-btn rounded color="success" dark>Next</v-btn></router-link> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <Recent></Recent>
      </div>
    </div>
  </div>
</section>
</template>
<script>
	import Recent from './RecentComponent.vue';
	export default{
		components:{
		'Recent':Recent
	    }	
	}
	
</script>
<style scoped>
   
a 
{  text-decoration: none;}

</style>