<template>
            <v-card height="100">
                <v-footer
                    absolute
                    class="font-weight-medium"
                    color="indigo "
                    padless
                    >
                    <v-col
                        class="text-center"
                        cols="12"
                        >
                        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
                    </v-col>
                </v-footer>
            </v-card>
        </template>