<template>
            <div>
            <v-toolbar dense color="cyan lighten-5">
             
                <v-toolbar-title>LaraVue</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-title>Home</v-title>
                <v-title>About Us</v-title>
                <v-title>Contact Us</v-title>
             
            </v-toolbar>
            </div>
</template>