<template>
	<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Jquery Full Course</h1>
          <div class="posted-on">
              <p>by <span>Hari Shankar Singh</span> on <span>March 22, 2019</span></p>
          </div>
          <div class="detail-img">
             <v-img src="./images/jquery.png" alt="blog1"> </v-img>
          </div>
          <div class="blog-desc">
            <p>jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.It is free, open-source software using the permissive MIT License. As of May 2019, jQuery is used by 73% of the 10 million most popular websites.Web analysis indicates that it is the most widely deployed JavaScript library by a large margin, having 3 to 4 times more usage than any other JavaScript library</p>
                            <p>jQuery's syntax is designed to make it easier to navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications. jQuery also provides capabilities for developers to create plug-ins on top of the JavaScript library. This enables developers to create abstractions for low-level interaction and animation, advanced effects and high-level, themeable widgets. The modular approach to the jQuery library allows the creation of powerful dynamic web pages and Web applications. </p>
<p>The set of jQuery core features—DOM element selections, traversal and manipulation—enabled by its selector engine (named "Sizzle" from v1.3), created a new "programming style", fusing algorithms and DOM data structures. This style influenced the architecture of other JavaScript frameworks like YUI v3 and Dojo, later stimulating the creation of the standard Selectors API.Later, this style has been enhanced with a deeper algorithm-data fusion in an heir of jQuery, the D3.js framework..</p>

<router-link to="/login"><v-btn rounded color="success" dark>Next</v-btn></router-link> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <Recent></Recent>
      </div>
    </div>
  </div>
</section>
</template>
<script>
	import Recent from './RecentComponent.vue';
	export default{
		components:{
		'Recent':Recent
	    }	
	}
	
</script>
<style scoped>
   
a 
{  text-decoration: none;}

</style>