<template>
	<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>Python Full Course</h1>
          <div class="posted-on">
              <p>by <span>Hari Shankar Singh</span> on <span>March 22, 2019</span></p>
          </div>
          <div class="detail-img">
             <v-img src="./images/python.jpg" alt="blog1"></v-img>
          </div>
          <div class="blog-desc">
            <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.</p>
                            <p>Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. Python is often described as a "batteries included" language due to its comprehensive standard library. </p>
<p>Python was conceived in the late 1980s as a successor to the ABC language. Python 2.0, released in 2000, introduced features like list comprehensions and a garbage collection system capable of collecting reference cycles. Python 3.0, released in 2008, was a major revision of the language that is not completely backward-compatible, and much Python 2 code does not run unmodified on Python 3.</p>
<p>The Python 2 language, i.e. Python 2.7.x, was officially discontinued on 1 January 2020 (first planned for 2015) after which security patches and other improvements will not be released for it. With Python 2's end-of-life, only Python 3.5.x[32] and later are supported.

Python interpreters are available for many operating systems. A global community of programmers develops and maintains CPython, an open source[33] reference implementation. A non-profit organization, the Python Software Foundation, manages and directs resources for Python and CPython development.</p>
<router-link to="/login"><v-btn rounded color="success" dark>Next</v-btn></router-link> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <Recent></Recent>
      </div>
    </div>
  </div>
</section>
</template>
<script>
	import Recent from './RecentComponent.vue';
	export default{
		components:{
		'Recent':Recent
	    }	
	}
	
</script>
<style scoped>
   
a 
{  text-decoration: none;}

</style>