  <template>
   <div class="right-widget recent-post">
  <h3>Recent Posts</h3>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <v-img src="./images/angular.jpg" alt="blog1" ></v-img>
          </div>
          <div class="rb-box-desc">
              <h4>Angular 7 Features</h4>
              <p>Posted On: March 10, 2019</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <v-img src="./images/python.jpg" alt="blog1"></v-img>
          </div>
          <div class="rb-box-desc">
              <h4>Python Project Setup</h4>
              <p>Posted On: March 10, 2019</p>
          </div>
      </div>
  </a>
  <a href="#">
      <div class="rb-box">
          <div class="rb-box-img">
              <v-img src="./images/jquery.png" alt="blog1"></v-img>
          </div>
          <div class="rb-box-desc">
              <h4>Jquery</h4>
              <p>Posted On: March 10, 2019</p>
          </div>
      </div>
  </a>
  
  
</div>

  </template>
  <style scoped>
   
a 
{  text-decoration: none;}

</style>