<template>

<!-- Modal -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        	<label>Name:</label>
        	<input type="text" class="form-control" placeholder="Enter Name" v-model="name">
        </div>

        <div class="form-group">
        	<label>Email:</label>
        	<input type="email" class="form-control" placeholder="Enter Email" v-model="email">
        </div>

		<div class="form-group">
        	<label>Image</label>
        	<input type="file" v-on:change="onImageChange" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" v-on:click="save">Save changes</button>
      </div>
    </div>
  </div>
</div>

</template>

<script>
	export default{
		data:function(){
			return {
				name:'',
				email:'',
				image: ''
			}
		},

		methods:{
			  onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
			save:function(){
				axios.post('api/register-save',{
					"name": this.name,
					"email": this.email,
          "image":this.image
        })
				.then((data)=>{
          this.$emit('addRecord',data)
          this.name = '',
          this.email = '',
          this.image = ''
          })
				.catch((error)=>console.log(error))
			}
		}
	}
</script>