<template>

<!-- Modal -->
<div class="modal fade" id="edits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="hidden" name="user_id" v-model="edit1.id">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Name" v-model="edit1.name">
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" name="email" placeholder="Enter Email" v-model="edit1.email">
        </div>

        <div class="form-group">
        	<label>Image</label>
        	<input type="file" v-on:change="onImageChange" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" v-on:click="update">Update changes</button>
      </div>
    </div>
  </div>
</div>

</template>

<script>
  export default{
    props:['edit1'],
    data:function(){
      return {
            name:'',
            email:'',
            image: ''
        
      }
    },
    
    methods:{
        onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        update:function(){
            axios.post('api/register-update',{
                "crud_id":this.edit1.id,
                "name" : this.edit1.name,
                "email" : this.edit1.email,
                "image":this.image
            })
            .then((data)=>this.$emit('update',data))
            .catch((error)=>console.log(error))

        }
    }

    
  }
</script>