<template>
    <div>
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand text-white">Navbar</a>
            <a href="#create" class="nav-link" data-toggle="modal"><button class="btn btn-success">+</button></a>
            <button class="btn btn-danger" v-on:click="logout">Logout</button>
        </nav>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task in tasks.data" >
                                <td>{{task.name}}</td>
                                <td>{{task.email}}</td>
                                <td>
                                    <img v-if="task.image" :src="'images/'+task.image"  class="img-responsive">
                                    <p v-else>Not found</p>
                                </td>
                                <td>
									<a href="#edits" class="nav-link" data-toggle="modal"><button type="button"
                                            class="btn btn-success" v-on:click="editDetail(task.id)">Edit</button></a>
                                
                                    <span><button class="btn btn-danger" v-on:click="deleteDetail(task.id)">Delete</button></span>
                                </td>
                            </tr>
                            <pagination :data="tasks" @pagination-change-page="getResults"></pagination>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="modal">
            <create v-on:addRecord="refresh($event)"></create>
            <edit v-bind:edit1="editRec" v-on:update="updateRecord($event)"></edit>
        </div>
        
    </div>
</template>

<script>
    import create from './CreateComponent.vue';
    import edit from './EditComponent.vue';

    export default {
        data: function () {
            return {
                tasks: {},
                editRec: {}
            }
        },
        methods: {
            refresh(record) {
                this.tasks = record.data;
            },
            
            editDetail(id) {
                axios.get('api/register-edit/' + id)
                    .then((response) => this.editRec = response.data)
                    .catch((error) => console.log(error))

            },
            deleteDetail(id) {
                axios.get('api/register-delete/' + id)
                    .then((response) => this.tasks = response.data);
            },
            updateRecord(record) {
                this.tasks = record.data;
            },
            logout:function(){
               
                localStorage.removeItem('token')
                this.$router.push('/login')
                .then((response)=>console.log('loged out'))
            
            },
            getResults(page = 1) {
			axios.get('api/register-list?page=' + page)
				.then(response => {
					this.tasks = response.data;
				});
		}

        },
        components: {
            'create': create,
            'edit': edit
        },

        created() {
            axios.get('api/register-list')
                .then((response) =>this.tasks=response.data)
                .catch((error) => console.log(error))
        }
    }

</script>
<style scoped>
a {  text-decoration: none;}
</style>