<template>
    <div>
    
        <v-carousel>
            <v-carousel-item
                v-for="(item,i) in items"
                :key="i"
                :src="item.src"
                reverse-transition="fade-transition"
                transition="fade-transition"
                ></v-carousel-item>
        </v-carousel>
        <v-container class="grey lighten-5">
            <v-row>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/angular.jpg"
                                >
                                <v-card-title>Angular & Full Course</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">Angular</v-card-subtitle>
                            <v-card-text class="text--primary">
                                
                                <div>Angular is a platform for building mobile and desktop web applications. Join the community of millions of developers who build compelling user interfaces with </div>
                            </v-card-text>
                            <v-card-actions>
                               <router-link to="/angular"><v-btn small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/python.jpg"
                                >
                                <v-card-title>Python & Full Course</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">Python</v-card-subtitle>
                            <v-card-text class="text--primary">
                                <div>Python for developing desktop GUI applications, websites and web applications. Also, Python, as a high level programming language, allows you to focus</div>
                            </v-card-text>
                            <v-card-actions>
                               <router-link to="/python"><v-btn small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/laravel.png"
                                >
                                <v-card-title>Laravel & Full Course</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">Laravel</v-card-subtitle>
                            <v-card-text class="text--primary">
                                
                                <div>Laravel is a web application framework with expressive, elegant syntax Laravel attempts to take the pain out of development by easing common tasks</div>
                            </v-card-text>
                            <v-card-actions>
                                <router-link to="/laravel"><v-btn small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
            </v-row>
            <v-row>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/jquery.png"
                                >
                                <v-card-title>Jquery & Full Courses</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">Jquery</v-card-subtitle>
                            <v-card-text class="text--primary">
                                
                                <div>jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.</div>
                            </v-card-text>
                            <v-card-actions>
                              <router-link to="/jquery"><v-btn small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/c.png"
                                >
                                <v-card-title>C Programming & Full Courses</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">C Programming</v-card-subtitle>
                            <v-card-text class="text--primary">
                                <div>C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion</div>
                            </v-card-text>
                            <v-card-actions>
                                <router-link to="/cpp"><v-btn small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
                <v-col
                    :key="n"
                    cols="12"
                    sm="4"
                    >
                    <template>
                        <v-card
                            class="mx-auto"
                            max-width="400"
                            >
                            <v-img
                                class="white--text align-end"
                                height="200px"
                                src="./images/bootstrap.png"
                                >
                                <v-card-title>Bootstrap & Full Courses</v-card-title>
                            </v-img>
                            <v-card-subtitle class="pb-0">Bootstrap</v-card-subtitle>
                            <v-card-text class="text--primary">
                                <div>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and JavaScript-based.</div>
                            </v-card-text>
                            <v-card-actions>
                              <router-link to="/bootstrap"><v-btn class="btn1"  small color="error">Read More</v-btn></router-link>
                            </v-card-actions>
                        </v-card>
                    </template>
                </v-col>
            </v-row>
        </v-container>
        
    </div>
</template>
<script>
    export default {
      data () {
        return {
          items: [
            {
              src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
            },
            {
              src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
            },
            {
              src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
            },
            {
              src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
            },
          ],
        }
      },
    }
</script>
<style scoped>
   
a 
{  text-decoration: none;}

</style>