<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer />
              
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="email"
                    prepend-icon="fas fa-lock"
                    type="email"
                    v-model="email"
                  />
                  <ul v-if="error" class="list-unstyle">
                    <li v-for="err in error.email" :key="err" class="alert alert-danger">{{err}}</li>
                  </ul>
                <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="fas fa-key"
                    type="password"
                    v-model="password"
                  />
                  <ul v-if="error" class="list-unstyle">
                    <li v-for="err in error.password" :key="err" class="alert alert-danger">{{err}}</li>
                  </ul>
                 
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" v-on:click="login">Login</v-btn>
                <router-link to="/register"><v-btn color="error">Register</v-btn></router-link>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },

    data:function(){
      return{
        email:'',
        password:'',
        error:[],
        text:[]
      }
    },
      methods:{
        login:function(){
          axios.post('api/login',{
            'email': this.email,
            'password':this.password
          })
          .then((response)=>{
            console.log(response.data)
           localStorage.setItem('token',response.data)
           this.$router.push('/index')
          })
          .catch((errors)=>
          {
            this.error=errors.response.data.error
             
          })
        }
      }
    
  }
</script>
 <style scoped>
   
a 
{  text-decoration: none;}

</style>