<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Register form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Name"
                    name="name"
                    prepend-icon="fas fa-user"
                    type="text"
                    v-model="name"
                    
                  />
                  <ul v-if="text.name" class="list-unstyle">
                      <li v-for="err in text.name" :key="err" class="alert alert-danger">{{err}}</li>
                  </ul>
                  <v-text-field
                    label="Email"
                    name="email"
                    prepend-icon="fas fa-lock"
                    type="text"
                    v-model="email"
                  />
                  <ul v-if="text.email" class="list-unstyle">
                      <li v-for="err in text.email" :key="err" class="alert alert-danger">{{err}}</li>
                  </ul>
 				    <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="fas fa-key"
                    type="password"
                    v-model="password"
                  />
                  <ul v-if="text.password" class="list-unstyle">
                      <li v-for="err in text.password" :key="err" class="alert alert-danger">{{err}}</li>
                  </ul>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" v-on:click="register">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data:function(){
      return{
        
        name: '',
        email: '',
        password:'',
        text:[],
        
        
      }
    },
    methods: {
      register:function(){
        axios.post('api/register',{
            "name"  : this.name,
            "email" : this.email,
            "password" : this.password
        })
        .then((response)=>{
          this.$router.push('/login')
        })
        .catch((errors)=>this.text= errors.response.data.errors)
      }
    },
  }
</script>
 <style scoped>
   
a 
{  text-decoration: none;}

</style>